body {
    background-color: (#4984AB);
  }
  
section {
  height: 100vh;
  background-attachment: fixed;
  }

  h1 {
    color: (#FFF8ED);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }